apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: devops-tasks
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-tasks
      tier: frontend
  template:
    metadata:
      labels:
        app: devops-tasks
        tier: frontend
    spec:
      containers:
        - name: frontend
          image: tasks-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5173
          env:
            - name: VITE_API_URL
              value: "http://backend-service:3000"
