apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: devops-tasks
    tier: database
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  type: ClusterIP